<?php Yaf_Loader::import(PUBLIC_PATH . "/common/header.html");?>
<?php Yaf_Loader::import(PUBLIC_PATH . "/common/menu.html");?>
<style type="text/css">
    canvas{position:absolute;}
    .word-content { width: 80%; margin:5% auto 5% auto;}
    .word-content h2 {text-align: center; margin-bottom: 20px;}
    .word-content p {text-indent: 2em; line-height: 25px;}
</style>
<div class="content-wrapper">
    <section class="content">
        <div id="yoyo" class="row">
            <div class="word-content">
            </div>
        </div>
    </section>
</div>
<?php Yaf_Loader::import(PUBLIC_PATH . "/common/footer.html");?>
</body>
</html>
